header > .navbar{
    background-color: #243945;
    color: white;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.nav-link:hover{
    font-weight: bold;
    text-decoration:underline;
}
li>.dropdown-item{
    color: white;
}
li>.dropdown-item:hover{
    color:black;
}
.main-part{
    top: 20px;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("../images/main_picture_opt_2.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: table;
}
#main-title{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #243945;
    font-size: 5vh;
    font-family: Calibri;
    font-weight: bold;
}
#main-subtitle{
    text-align: center;
    vertical-align: middle;
    display: table-row;
    font-size: 3vh;
    font-family: 'HomepageFont';
}
#statistics-of-bank{
    background-color: #E6C37A;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.col>h3:hover{
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.col>h5:hover{
    color: white;
    font-weight: bold;
}
ul li>u{
    color: #E6C37A;
}
#locations{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #243945;
    color: white;
    margin-top: 30px;
    padding: 10px;
    padding-left: 8%;
    padding-top: 20px;
}
.copyright-section{
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    padding-top: 18px;
}
@font-face {
    font-family: 'HomepageFont';
    src:  url('myfont.woff2') format('woff2'),
            url('myfont.woff') format('woff');
    font-size: 3vh;
}
