
header > .navbar{
  background-color: #243945;
  color: white;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.login  {
  background-color: rgb(2, 64, 64);
}

.butoni{
  cursor: pointer;
}

/*
.form{
border-radius: 20px;
}
#h{
    background-color: white;
    align-text:50px right;
    text-align:center;
}
.login{
    background-color: rgb(48, 92, 92);
}

  .label{
    text-align:left;
  }
  .input{
    width: 200px;
    
  }
*/
 

  