header > .navbar{
    background-color: #243945;
    color: white;
}
#h{
    background-color: white;
    align-text:50px right;
    text-align:center;
}
.login{
    background-color: rgb(48, 92, 92);
}
button:hover {
    opacity:1;
  }
  .label{
    text-align:left;
  }
  .input{
    width: 200px;
    
  }